
* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif, Helvetica;
  margin: 0 auto;
}

#home-screen {
  max-width: 375px;
  height: 680px;
  margin: 0 auto;
}

#navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
  margin: 0;
  padding: 0 10px;
}

#navbar > a {
  text-decoration-line: none;
  color: #fff;
}

#welcome {
  background-color: #1c1a19;
  background-image: url(./images/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right, bottom;
  width: 100%;
  height: 590px;
  padding: 50px 12px;
}

#welcome h1 {
  color: orangered;
}

#social-media {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  padding-inline-start: 0;
}

#social-media > li {
  display: block;
  padding-right: 10px;
}

main {
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  color: black;
}

#work-heading {
  border: 0;
  padding: 10px 0;
  margin: 20px 0;
}

#work-heading > label {
  font-size: 30px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.works {
  display: grid;
  grid-template-rows: 300px 50px 30px 150px 50px 50px;
  background-color: #fff;
  height: 680px;
  gap: 10px;
  margin: 30px 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.work {
  display: block;
}

.snapshot {
  background-color: rgb(255, 107, 70);
  object-fit: fill;
  padding: 20px;
  margin: 0;
}

.snapshot > img {
  width: 295px;
  height: 260px;
  margin: 0 auto;
}

.project-summary {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 5px;
  padding-inline-start: 0;
  text-indent: -10px;
  list-style-position: inside;
  margin: 10px 0;
}

.project-summary li:first-child{
  list-style-type: none;
}

.project-summary li{
  margin-left: 10px;
  font-weight: bold;
}

.languages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.languages > label {
  border: 1px solid black;
  align-self: center;
  text-align: center;
  padding: 5px;
  font-size: 12.5px;
  border-radius: 5px;
}

.see-project {
  background-color: rgb(172, 175, 172);
  font-weight: bold;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  text-decoration-line: none;
  padding: 10px;
  color: #fff;
}

