
* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Crete Round', 'Inter', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto;
  background-color: #f0f5f4;
}

#home-screen {
  max-width: 375px;
  margin: 0 auto;
  height: 600px;
  background-color: #1c1a19;
}

#navbar {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
  margin: 0;
  padding: 0 10px;
}

a:hover {
  background-color: #bd3200;
}

#navbar > a {
  text-decoration-line: none;
  color: #fff;
}

#resume > a {
  text-decoration-line: none;
  color: #fff;
  background-color: #ff4500;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 19.5px;
  font-weight: bold;
  padding: 8px;
}

#navbar > a:hover {
  background-color: #bd3200;
}

#welcome {
  background-image: url(./images/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right, bottom;
  width: 100%;
  height: 590px;
  padding: 20px;
}

h1 {
  color: #ff4500;
  font-weight: 400;
  font-size: 45px;
}

#welcome > h4 {
  margin-top: -20px;
}

#social-media {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  padding-inline-start: 0;
  list-style: none;
}

.proj-lang > li {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #3d3797;
}

ul.skill > li {
  padding: 15px;
}

#social-media > li {
  padding-right: 10px;
}

#main-works {
  display: grid;
  grid-template-rows: 150px 680px 680px 680px 680px;
  gap: 10px;
  max-width: 375px;
  margin: 0 auto;
  background-color: #fff;
  color: black;
  padding: 70px 20px;
  place-items: center;
}

h2 {
  width: 100%;
  height: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
}

#heading {
  border-bottom: 1px solid #888;
  height: 100px;
  padding-bottom: 60px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 335px;
  padding: 30px 0;
}

.works > img {
  background-color: #ff4500;
  padding: 20px;
  width: 100%;
  height: 260px;
  object-fit: fill;
}

h3 {
  width: 100%;
  font-weight: 400;
  font-size: 30px;
}

.works > h3,
.works > p {
  margin: 5px 0;
}

.works > p {
  width: 100%;
  max-height: 200px;
}

.proj-lang {
  display: flex;
  padding-inline-start: 0;
  list-style: none;
}

.card-link {
  background-color: #ff4500;
  font-weight: bold;
  width: 50%;
  height: 40px;
  text-align: center;
  text-decoration-line: none;
  padding: 10px;
  color: #fff;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 375px;
  height: 1900px;
  padding: 20px 20px;
  background-color: #000;
  margin: 0 auto;
}

#resume {
  background-image: url("./images/about-me-illus.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 450px;
  object-fit: fill;
}

#resume > h2 {
  color: #ff4500;
}

#resume > p {
  height: 120px;
}

#resume > a:hover {
  background-color: #bd3200;
}

#skills {
  border-top: 1px solid #888;
  padding-top: 120px;
  clear: both;
  text-align: center;
  font-weight: 400;
}

#skills > ul {
  list-style-position: inside;
  font-size: 35px;
  float: center;
  list-style-image: linear-gradient(to right, #ff4500, #ff4500);
  text-indent: -30px;
  padding: 0;
  margin: 0;
}

ul.skill {
  list-style: none;
  font-size: 22px;
}

.contact-form {
  width: 375px;
  padding: 70px 20px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#contact-para {
  width: 100%;
  height: auto;
  font-family: sans-serif;
  text-align: center;
  color: #172b4d;
}

form {
  width: 100%;
}

fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 0;
  padding: 0;
}

#name,
#email {
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #888;
}

.form-msg {
  width: 100%;
  height: 114px;
  text-align: left;
  margin: 15px 0 30px;
  padding: 5px;
  border: none;
  background-color: #fbf8f7;
}

#submit {
  background-color: #ff4500;
  font-weight: bold;
  width: 50%;
  height: 40px;
  text-align: center;
  text-decoration-line: none;
  padding: 10px;
  color: #fff;
  margin: 0 auto;
  border: 0;
}

#submit:hover {
  background-color: #bd3200;
}

#contact-social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  list-style: none;
  padding-inline-start: 0;
  border-top: 1px solid #888;
  padding-top: 20px;
  margin-top: 100px;
}

#contact-social-media > li {
  padding-right: 10px;
}

hr {
  color: #000;
  background-color: #000;
  height: 3px;
  width: 50%;
}
